<div class="wordle-container">
<form (submit)="submitGuess(); $event.preventDefault()">
  @for (attempt of attempts; track i; let i = $index) {
    <div>
      <input
        type="text"
        [maxlength]="maxLength"
        [disabled]="i != currentGuessId || game.isGameOver()"         
        [(ngModel)]="attempts[i]"
        name="guess{{ i }}"
        autocomplete="off"
        autofocus
      />
    </div>
  }

  <button type="submit" [disabled]="game.isGameOver()">Submit</button>
</form>

@if (guessFeedback) {
  <p style="color: red;">{{ guessFeedback }}</p>
}

@if (game.isGameOver() && !guessFeedback) {
  <p>Game Over!</p>
}


@if (guessFeedback) {
  <p style="color: red;">{{ guessFeedback }}</p>
}

@if (game.isGameOver() && !guessFeedback) {
  <p>Game Over!</p>
}
</div>

